body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 125%;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.base-col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.icon-col {
  width: 50%;
}

.link-block {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: -14px;
  margin-left: auto;
  text-align: center;
}

.github-img-icon {
  max-width: 30%;
  margin-top: 6px;
  margin-bottom: 9px;
  opacity: .77;
}

.icon-img {
  max-width: 35%;
  margin-right: auto;
  margin-bottom: 1px;
  margin-left: auto;
  padding-top: 0px;
}

/* .link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
} */

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  /* border: 1px solid #bbb;
  border-radius: 10px; */
  padding: 0;
  /* font-size: 0; */
}

.results-carousel video {
  margin: 0;
  display: inline-block;
  /* border: 1px transparent; */
  /* border-radius: 10px; */
  width: 100%;
}

.tt {
  font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
}

/* how to get hr to be shorter than the line? */
.hr-small {
  width: 90%;
  margin: auto;
  margin-top: -15px;
  margin-bottom: 20px;
}

details {
  margin-top: -10px;
}

details>summary {
  padding: 2px 6px;
  width: 11%;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  margin-left: 9%;
  margin-bottom: 15px;
}

details[open]>summary {
  background-color: #ccf;
}

/* <h2 class="title is-3 has-text-centered">Qualitative Results</h2> */
h2.title.is-3 {
  margin-top: -50px;
}

/* <p class="arrow-right"> */
.arrow-right {
  position: relative;
  margin-right: 30px;
  margin-left: 15px;
}

.arrow-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 15px solid black;
  margin-top: -5px;
}

/* <div class="column is-5"> */
.column.is-5 {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

video {
  width: 100%;
  display: inline-block;
}

/* @media (min-width: 768px) {
  video {
    width: 70%;
  }
} */